.App {
  text-align: center;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  padding: 0;
  margin: 0;
}

button:focus,
input:focus {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea::placeholder {
  font-weight: 600;
  font-size: "1.125rem";
  color: #333d4b;
}

textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

button:focus {
  outline: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

input:checked ~ .dot {
  transform: translateX(100%);
}

input:checked ~ .con {
  background-color: #6c80cb;
}

@keyframes ldio-2d8mpw24xf9 {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-2d8mpw24xf9 div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-2d8mpw24xf9 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-2d8mpw24xf9 div:nth-child(1) {
  border-color: #4ade80;
  animation-delay: 0s;
}
.ldio-2d8mpw24xf9 div:nth-child(2) {
  border-color: #4ade80;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-pv7k9jcs3qq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-2d8mpw24xf9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2d8mpw24xf9 div {
  box-sizing: content-box;
}

@keyframes ldio-sytvh69rhed {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-sytvh69rhed div {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #34d399;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-sytvh69rhed div {
  animation: ldio-sytvh69rhed 1s linear infinite;
  top: 35px;
  left: 35px;
}
.loadingio-spinner-rolling-hko19m50k5j {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-sytvh69rhed {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sytvh69rhed div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
